.skill-group {
  margin-bottom: 30px;
}

.skill-category {
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skill-pill {
  background: black;
  border: 1px solid var(--white-outline);
  color: var(--text-main);
  padding: 8px 18px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: bold;
  transition: 0.2s;
}

.skill-pill:hover {
  background: var(--f1-yellow);
  color: black;
  border-color: var(--f1-yellow);
  transform: scale(1.05);
}